body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input {
  display: block;
  margin-top: 1rem;
  padding: 10px;
}

form {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid lightgray;
  padding: 2rem 0;
  border-radius: 4px;
}
/* 
.form-div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form button {
  display: block;
  margin-top: 2rem;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
} */

.initial {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid #000;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  display: inline-block;
}
.main {
  display: inline-block;
}
.bottom-list {
  display: flex;
  justify-content: space-around;
}

.bottom-list button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.update-form-close {
  display: none;
}

.update-form-show {
  display: block;
}

.main form {
  width: 100%;
}

.main form input {
  margin: 1rem auto;
}

.main form button {
  margin: auto;
}

.main-dropdown {
  margin-top: 1rem;
}

.update-form-show h2 {
  text-align: center;
}

select {
  padding: 10px;
}

.second-main-dropdown {
  display: block;
  margin: auto;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  text-align: center;
}

td,
th {
  border: 1px solid #ddd;
  padding: 1rem;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3f51b5;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.action {
  font-weight: bolder;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* .action:active {
  border: none;
} */

.table-div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
